*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif; 
  text-decoration: none;
  list-style: none;
}
:root{
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29bafd;
  --body-color:#F2F3F5;
}

body{
  min-height: 100vh;
  color: var(--body-color);
  background-color: var(--bg-color);
}

header{
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding:20px;
  transition: all, .50s ease;
}