*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29bafd;
    --body-color:#ffffff;
    --button-color:transparent;
    --button-hoverColor:#ff1867;
}

ul {
    margin-bottom: 0;
}

body{
    min-height: 100vh;
    color: var(--body-color);
}
header{
    display: block;
    width: 100%;
    top: 0px;
    right: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--bg-color);
    padding:20px;
    transition: .3s;
    z-index: 100;
}
input{
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px lighy gray ;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--text-color);
    font-weight: 600;
}
::placeholder{
    color: var(--bg-color);
}